network:
    ethernets:
        {{ devicetwo }}:
          addresses: [{{ lan_ip }}/{{ prefix }}]
          gateway4: {{ gateway }}
          nameservers:
            addresses: [{{ gname_server }}]
          dhcp4: no
    version: 2
