network:
    ethernets:
        {{ devicetwo }}:
          addresses: [{{ lan_ip }}/{{ prefix }}]
          gateway4: {{ gateway }}
          nameservers:
            search: [{{ domain }}]
            addresses: [{{ name_server }}]
          dhcp4: no
    version: 2
